* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.sidebar{
    padding: 20px;
    background-color: #e0e0e0;
    margin: 5px 0;
}
.content {
    padding: 20px;
    background-color: #f3f3f3;
    margin: 5px 0;
}

@media (min-width: 600px) {
    .main-content {
        flex-direction: row;
    }
    
    .content {
        flex: 2;
        margin-right: 10px;
    }
    
    .sidebar {
        flex: 1;
        margin-left: 10px;
    }
    
    header, footer {
        padding: 25px;
    }
}

@media (min-width: 900px) {
    .content {
        flex: 3;
    }
    
    .sidebar {
        flex: 1;
    }
    
    header, footer {
        padding: 30px;
        font-size: 1.2em;
    }
}