body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: clamp(300px, 100%, 800px);
}

.content {
    background-color: green;
    width: 100%;
    height: 100vh;
}